<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/ombu_hub/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/ombuhub"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/ombu-hub"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa-solid fa-rocket"> </i> Ombu Hub
  </div>
</div>
