<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand mx-auto mx-lg-0">
            <%# <span class="brand-text">Ombu Hub</span> %>
            <%= image_tag("logo_blanco.png", height: '40', width: '48') %>

        </a>
        <a class="nav-link custom-btn btn d-lg-none" href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20.">Whatsapp</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                     <%= link_to "Inicio", "/", class: "nav-link click-scroll" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Cursos", courses_path, class: "nav-link click-scroll" %>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll btn-ins" href="https://forms.gle/39e7BffvFzTi7iE17">Inscripción</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link custom-btn btn d-none d-lg-block" href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20.">WhatsApp</a>
                </li>

            </ul>
        <div>

    </div>
</nav>
