<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
     <h4> <%= image_tag "logo.png" %> Ombu Hub</h4>
    <% end %>

    <div>
      <ul class="list-group list-group-horizontal">
            <li class="nav-item p-1"><%= link_to "Inicio", "/"%></li>
            <li class="nav-item p-1">
            <%= link_to "¿Donde Estamos?", "https://g.page/ombu-hub?share", target: "_blank" %>
          </li>
          <li class="nav-item p-1"><a href="http://wa.link/w3sgmm" target="_blank"><i class="fa-brands fa-whatsapp" ></i> WhatsApp</a></li>


        </ul>
    </div>
  </div>
</div>
