<div class="venue-thumb bg-white shadow-lg">

    <div class="venue-info-title">
        <h2 class="text-white mb-0">OMBU HUB - Tucuman</h2>
    </div>

    <div class="venue-info-body">
        <h4 class="d-flex " >
            Mate de Luna 4664, San Miguel de Tucuman, Argentina
        </h4>

        <h5 class="mt-4 mb-3">
            <a href="mailto:ombuhub@gmail.com" class="">
                ombuhub@gmail.com
            </a>
        </h5>

    </div>
