<% if @courses.count == 0 %>
      <div class="venue-thumb bg-white mt-5">
          <div class="venue-info-title ">
           <h2 class="text-white mb-0">Proximamente habra mas cursos de en Ombu Hub</h2>
          </div>
          <div class="venue-info-body">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScH1rcym3q1z_MhsFsHrVhen3T15Ye7Nt-pIJktjaPqkCVm3w/viewform?embedded=true" width="100%" height="800px" >Loading…</iframe>
          </div>
        </div>

<% end %>
