
  <% @courses.each do |course| %>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%=course.name%></h2>
        <p><%=course.short_description%></p>
        <%= link_to "Ver Curso", course_path(course) %>
      </div>

    </div>
    </div>
  <% end %>
