
<div class="container">
  <h2 class= "mt-3" >Todos los cursos de Robotica:</h2>
  <%= render "top" %>
  <div class="row">
        <%= render 'zero' %>
              <%= render 'course_card' %>
       </div>

</div>
