.info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.img-show img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 16px;
  // border-radius: 5px;
  // margin: 8px;
  border-color: white;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-show {
  height: 200px;
  width: 60%;
}

img-show h2 {
  color: black;
  font-size: 24px;
}

@media only screen and (max-width: 700px) {
  .info-container{
    display:block;

  }

}
