.info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.img-show img {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 16px;
  // border-radius: 5px;
  // margin: 8px;
  border-color: white;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-show {
  margin-top: 50px;
  height: 200px;
  width: 60%;
}

img-show h2 {
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .info-show {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 100%;
  }

  .img-show img {
    height: 200px;
    width: 100%;
  }
}
